.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;

}

.rotate {
    transform: initial;
    transition: transform 2s ease;
}
.rotate:hover
{
    transform: rotate(5deg);
}

.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}